.yunying-upload {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.yunying-upload input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}